.button-close {
	float: right;
}
.custom-checkbox-ie8 {
    border-bottom: 1px solid #ffe756;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    padding: 14px 22px;
    width: 100%;
}
.custom-checkbox-ie8 > input[type=checkbox] {
	display: block;
	float: left;
	margin: 30px 30px 0 0;
}